body{
    margin-top: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.caixa{
    width: 300px;
    border: 1px solid black;
    text-align: center ;
    margin-top: 30px;

}
